table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

body {
    background-color: #ababab;
}

p {
    float: left;
    border: 1px solid black;
    text-align: center;
    padding: 30px;
}